.cur-pointer {
  cursor: pointer;
}
.flex {
  display: flex;
}
.flex-aic {
  align-items: center;
}
.flex-jcc {
  justify-content: center;
}
.flex-mla {
  margin-left: auto;
}
.flex-mra {
  margin-right: auto;
}
